!requirements.txt
.pytest_cache
.kilo
.sqlite3
webview/node_modules/
webview/dist/
webview/df.csv
webview/config.json
agent/large_tool_results
agent_decisions.jsonl
webview/strategies
.env
*.sqlite3
.venv
__pycache__