MetaTrader5
pandas
TA-Lib
pytz
python-dotenv
matplotlib
tqdm
dotenv
./pkg/price_data-1.1.2-py3-none-any.whl
./pkg/technical_indicator-2.0.8-py3-none-any.whl
./pkg/backtest_engine-1.1.0-py3-none-any.whl
